<style>
    /* Overwrite CSS variable */
    :root {
        --article-font-family: "helvetica-neue-55", var(--base-font-family);
        --article-font-size: 22px; /* Add font size */
    }
</style>

<script>
    (function () {
        const customFont = document.createElement('link');
        customFont.href = "https://fonts.cdnfonts.com/css/helvetica-neue-557";
    
        customFont.type = "text/css";
        customFont.rel = "stylesheet";
    
        document.head.appendChild(customFont);
    }());
</script>
